<div class="card mt-4">
  <div class="card-body">
    <div class="text-center">
      <h4>Esqueceu sua senha?</h4>
      <h6>
        Informe seu e-mail que enviaremos um<br />link para redefinir a sua
        senha.
      </h6>
    </div>
    <form class="theme-form" [formGroup]="recoverPasswordForm">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          formControlName="recoveryEmail"
          type="email"
          id="email"
          required=""
          placeholder="Email"
        />

        <div class="input-error-wrapper">
          <div
            *ngIf="
              recoverPasswordForm.controls.recoveryEmail.touched &&
              recoverPasswordForm.controls.recoveryEmail.errors?.required
            "
            class="text text-danger mt-1"
          >
            Email é um campo obrigatório
          </div>
          <div
            *ngIf="
              recoverPasswordForm.controls.recoveryEmail.touched &&
              recoverPasswordForm.controls.recoveryEmail.errors?.recoveryEmail
            "
            class="text text-danger mt-1"
          >
            Email inválido
          </div>
        </div>
      </div>
      <div class="mb-3">
        <a
          class="primary-text bold"
          href="javascript:void()"
          routerLink="/login"
          >Ir a tela de login</a
        >
      </div>
      <div class="form-group form-row mt-3 mb-0 mx-0">
        <button
          class="btn btn-primary btn-block btn-lg"
          [disabled]="!recoverPasswordForm.valid || showLoader"
          (click)="recoverPassword()"
        >
          <span *ngIf="!showLoader">Recuperar Senha</span>
          <app-loader *ngIf="showLoader" color="white" size="30px"></app-loader>
        </button>
      </div>
    </form>
  </div>
</div>
