<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 d-flex align-itens-center justify-content-center mb-3"
      *ngFor="let group of teamGroup"
    >
      <div
        class="to-cancel"
        *ngFor="let m of group"
        [ngClass]="{ canceled: m.isCanceled }"
        (click)="cancel(m)"
      >
        <img
          cross-origin="anonymous"
          src="{{ m.picture }}"
          [alt]="m.name"
          [title]="m.name"
          class="my-2 mini-member-pic"
          [ngClass]="{ canceled: m.isCanceled }"
        />
        <span [ngClass]="{ 'name-canceled': m.isCanceled }">{{ m.name }}</span>
      </div>
    </div>
  </div>
  <div
    class="img-grid mt-5"
    *ngIf="team || teamCopy"
    [ngClass]="'has-' + teamCopy.length"
  >
    <div class="img-section" *ngFor="let member of teamCopy; let i = index">
      <div class="img-wrapper">
        <img
          cross-origin="anonymous"
          [src]="
            hasBeenSorted
              ? member.picture
              : 'assets/images/original/question-mark.svg'
          "
          [alt]="hasBeenSorted ? member.name : '???'"
          class="mb-3 member-pic"
        />
        <h5 class="member-name text-center">
          {{ hasBeenSorted ? member.name : "???" }}
        </h5>
        <span class="queue-position">{{ i + 1 }}</span>
      </div>
    </div>
  </div>
  <button
    type="button"
    name=""
    id=""
    class="btn btn-primary btn-lg floating-btn px-3"
    (click)="startSorter()"
    title="Play"
  >
    <img src="assets/images/original/play.svg" alt="play" class="play" />
  </button>
  <button
    type="button"
    name=""
    id=""
    class="btn btn-info btn-lg floating-reset-btn px-3"
    (click)="resetPage()"
    title="Reset"
  >
    <img src="assets/images/original/reset.svg" alt="play" class="play" />
  </button>
</div>

<a class="open-race" (click)="goToRace()">
  <app-feather-icons icon="flag"></app-feather-icons>
</a>
