<div class="card mt-4">
  <div class="card-body">
    <div class="text-center">
      <h4>Nova Senha</h4>
      <h6>Defina a sua senha de acesso ao Dowing</h6>
    </div>
    <form class="theme-form" [formGroup]="newPasswordForm">
      <div class="form-group position-relative">
        <label class="form-label" for="password">Senha</label>
        <input
          class="form-control"
          formControlName="password"
          type="password"
          id="password"
          required=""
          placeholder="Senha"
        />

        <div class="input-error-wrapper">
          <div
            *ngIf="
              newPasswordForm.controls.password.touched &&
              newPasswordForm.controls.password.errors?.required
            "
            class="text text-danger mt-1"
          >
            Senha é um campo obrigatório
          </div>
          <div
            *ngIf="
              newPasswordForm.controls.password.touched &&
              !newPasswordForm.controls.password.errors?.required &&
              newPasswordForm.controls.password.errors?.minlength
            "
            class="text text-danger mt-1"
          >
            A Senha deve ter o tamanho mínimo de 6 dígitos
          </div>
        </div>
      </div>
      <div class="mb-3">
        <a
          class="primary-text bold"
          href="javascript:void()"
          routerLink="/login"
          >Ir a tela de login</a
        >
      </div>
      <div class="form-group form-row mt-0 mb-0 mx-0">
        <button
          class="btn btn-primary btn-block mt-0 btn-lg"
          [disabled]="!newPasswordForm.valid || authService.showLoader"
          (click)="newPassword()"
        >
          <span *ngIf="!authService.showLoader">Salvar</span>
          <app-loader
            *ngIf="authService.showLoader"
            color="white"
            size="30px"
          ></app-loader>
        </button>
      </div>
    </form>
  </div>
</div>
